{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div>
        <div class="d-flex justify-content-center mt-5">
            <h1>Login</h1>
        </div>

        <div class="d-flex justify-content-center">
            <form method="post">
                <!-- CSRF to be placed before {{ form.as_p }}  variable -->
                {% csrf_token %}
                <div class="mb-3 mt-4">
                    <label for="{{ form.password.id_for_label }}">Email</label>
                    <br>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <br>
                    {{ form.password }}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}