<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}{% endblock title %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <!-- NAV BAR -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid h1">
            <a class="navbar-brand" href="#">MȦRI</a>
            <!-- IF USER AUTHENTICATED DISPLAY A DASHBOARD View and NAV Menu -->
            {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'users:dashboard' %}">My Dashboard</a>
                <a class="navbar-brand" href="#">Categories</a> 
                <a class="navbar-brand" href="#">People</a> 
            {% endif %}

            <span class="navbar-brand">
            {% if request.user.is_authenticated %}
                Hello, {{ request.user.first_name }} {{ request.user.last_name }} / 
                <form action="{% url 'users:logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link navbar-brand p-0">Logout </button>
                </form>
            {% endif %}
            </span>
        </div>
    </nav>
    
    <!-- CONTENT -->
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <!-- BOOTSTRAP INTEGRATION -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>