<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title> {% block title %}{% endblock title %} </title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
</head>
<body>
    <h1 class="lowercase"><a href="#">MȦRI</a></h1>

    <!-- NAV BAR to be re-created with Tailwind CSS -->
    
    <!-- IF USER AUTHENTICATED DISPLAY A DASHBOARD View and NAV Menu -->
    {% if request.user.is_authenticated %}
        <a href="{% url 'users:dashboard' %}">My Dashboard</a>
        <a href="#">Categories</a> 
        <a href="#">People</a> 
    {% endif %}

    <span>
        {% if request.user.is_authenticated %}
            Hello, {{ request.user.first_name }} {{ request.user.last_name }} / 
            <form action="{% url 'users:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout </button>
            </form>
        {% endif %}
    </span>
    
    <!-- CONTENT -->
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    
</body>
</html>