{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}

                <div>
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    <br>
                    {{ form.email }}
                </div>

                <div>
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <br>
                    {{ form.password }}
                </div>

                <div>
                    <button type="submit">SUBMIT</button>
                </div>

                <div>
                    <p><a href="{% url 'users:password_reset' %}">Forgot the password?</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}