{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div>
        <div class="d-flex justify-content-center mt-5">
            
            <div class="d-flex justify-content-center">
                <h1 class="h3">Password set</h1>
            </div>

            <div class="d-flex justify-content-center">
                <p>New password has been set. <a href="{% url 'users:password_reset' %}" class="text-decoration-none text-muted">Login here.</a></p>
            </div>


        </div>
    </div>
{% endblock %}