{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Forgot your password?</h1>
            <p>Enter your email address below.</p>
            <p>We will send you a link to reset your password.</p>
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    <br>
                    {{ form.email }}
                </div>
                <div>
                    <button type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}