{% extends "base.html "%}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div>
        <div class="d-flex justify-content-center mt-5">
            
            <div class="d-flex justify-content-center">
                <h1 class="h3">Reset your password</h1>
            </div>

            {% if validlink %}
                <div class="d-flex justify-content-center">
                    <p>Enter new password twice</p>
                </div>  

                <form method="post" class="border border-white rounded shadow px-5 py-3 mb-5 mt-3 bg-white ">
                {% csrf_token %}

                {{ form.as_p}}

                <div class="d-flex justify-content-center mt-4 mb-3">
                    <button type="submit" class="btn btn-dark m3" style="font-size:14px">SUBMIT</button>
                </div>

                </form>
            {% else %}
                <div class="d-flex justify-content-center">
                    <p>Invalid password reset link. <a href="{% url 'users:password_reset' %}" class="text-decoration-none text-muted">Request a new link.</a></p>
                </div>  
            {% endif %}

        </div>
    </div>
{% endblock %}