{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Reset your password</h1>
            {% if validlink %} 
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <div>
                        <button type="submit">SUBMIT</button>
                    </div>
                </form>
            {% else %}
                <div>
                    <p>Invalid password reset link. <a href="{% url 'users:password_reset' %}">Request a new link.</a></p>
                </div>  
            {% endif %}
        </div>
    </div>
{% endblock %}